 <%if user_signed_in?%> 
    <table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th></th>
        </tr>
    </thead>

    <tbody>
        <% @friends.each do |friend| %>
        <% if friend.user == current_user%>
        <tr>
            <td>
                <%= link_to friend.first_name + ' ' + friend.last_name, friend %>
            </td>
            <td><%= friend.email %></td>
            <td><%= friend.phone %></td>
            <td><%= friend.twitter %></td>
            <td><%= link_to 'Destroy', friend, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-outline-danger" %></td>
        </tr>
        <%end%>
        <% end %>
    </tbody>
    </table>

    <br>

    <%= link_to 'New Friend', new_friend_path, class:"btn btn-secondary"%>
<% else %>
    <h1> OOPS!!</h1><h2>Seems like you are not signed in</h2>
    </br>
    <h4 style="color:#696969">Sign in to maintain your friends list</h4>
<%end%>